<!DOCTYPE html>
<html>
<body>

<a href="/">Main</a> 
<a href="/products">Products</a> 
<a href="/contacts">Contacts</a> 


<h1>Contacts</h1>
<p>Follow us on Twitter, Facebook, etc.</p>

</body>
</html>