<!DOCTYPE html>
<html>
<body>

<a href="/">Main</a> 
<a href="/products">Products</a>
<a href="/contacts">Contacts</a> 

<h1>Products List</h1>
<ul>
    <li>Bread</li>
    <li>Milk</li>
    <li>Potato</li>
    <li>Tea</li>
</ul>

<p>Your cookie is written, check yo browser: dev tools / application / cookies</p>

</body>
</html>