<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
    <p> Hello there </p>
    <ul>
        {{ range $index, $element := . }}
        <li>{{$index}} - {{$element}}</li>
        {{end}}
    </ul>
</body>
</html>